.card__stack div:not(:first-child) {
    margin-top: -44px;
}


@media (min-width: 635px) {
    .card__stack div:not(:first-child) {
        margin-top: -95px;
    }
}


@media (min-width: 1300px) {
    .card__stack div:not(:first-child) {
        margin-top: -115px;
    }
}